Package: open-alert-viewer
Version: VERSION
Section: net
Priority: optional
Architecture: ARCHITECTURE
Depends: DEPENDS
Maintainer: OK Code Studio <support@okcode.studio>
Description: Open Alert Viewer
 Display server and network alerts from servers running Prometheus, Nagios,
 Icinga or Zabbix.
 .
 Prometheus v0.16.0+, Nagios Core 4.x and Icinga 2.12.0+ are supported with
 Basic Authentication; and default authentication for Zabbix 6.x or 7.x.
