[Desktop Entry]
Version=1.0
Type=Application

Name=Open Alert Viewer
Comment=Fetch alerts from Prometheus, Nagios or Icinga servers
Categories=Network;Monitor;

Icon=studio.okcode.open_alert_viewer
Exec=open_alert_viewer
Terminal=false
