[Desktop Entry]
Version=1.0
Type=Application

Name=Open Alert Viewer
Comment=Fetch server alerts from compatible back ends
Categories=Network;Monitor;

Icon=open_alert_viewer
Exec=open_alert_viewer
Terminal=false
